:root {
    --text-color: #3f5b68;
    --background-color: #edf9ff;
    --border-color: #7fa3b3;
    --hover-color: #daf4ff;
    --background-color-body: #B5DDFF;
    --background-color-modal: rgba(0, 0, 0, 0.3);
    --background-disabled-color: lightgrey;
    --border-disabled-color: grey;
    --font: Arial, Helvetica, sans-serif;
}

/* 

*/

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    margin: 0;
    background: var(--background-color-body);
    color: var(--text-color);
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    padding: 8px;
    background: var(--background-color);
    border: 2px solid var(--border-color);
    border-radius: 6px;
    color: var(--text-color);
    font-weight: bold;
}

button:hover {
    background: var(--hover-color);
    cursor: pointer;
}

button:disabled {
    background: var(--background-disabled-color);
    border-color: var(--border-disabled-color);
    color: var(--border-disabled-color);
}

input {
    padding: 8px;
    border: 2px solid var(--border-color);
    border-radius: 6px;
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.hidden {
    display: none !important;
}

.marusya {
    position: fixed;
    right: 20vw;
    bottom: 0;
    z-index: -1;
    height: 400px;
    width: 400px;
    background: url(./assets/marusya.png);
    background-size: cover;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 180px;
    min-width: 180px;
    margin-left: 20vw;
    padding: 16px;
    background: var(--background-color);
    border: 2px solid var(--border-color);
    border-radius: 6px;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 32px;
}

.title {
    font-size: 18px;
    text-align: center;
}

.feeds-container {
    flex-grow: 1;
    margin: 16px 0;
}

.modal-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: var(--background-color-modal);
}

.modal-body {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background: var(--background-color);
    border: 2px solid var(--border-color);
    border-radius: 6px;
}

.modal-controls {
    display: flex;
    margin-top: 32px;
    padding: 0 8px;
}

.modal-controls button {
    flex-grow: 1;
    margin: 0 8px;
}

.portion-amount-input-group {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.portion-amount-input {
    display: flex;
    align-items: center;
}

.portion-amount-input:not(:last-child) {
    margin-bottom: 8px;
}

.portion-amount-input input {
    margin: 0 8px 0 0;
}

@media screen and (max-width: 1081px) {
    body {
        align-items: flex-start;
        justify-content: center;
    }

    li:not(:last-child) {
        margin-bottom: 4px;
    }
    
    .marusya {
        height: 800px;
        width: 800px;
        right: -32px;
    }

    .app-container {
        min-height: 600px;
        min-width: 600px;
        margin-top: 256px;
        margin-left: 0;
    }

    .loader {
        margin-bottom: 64px;
    }

    .title {
        font-size: 64px;
    }

    .feeds-container {
        margin: 32px 0;
    }

    .modal-controls {
        margin-top: 64px;
    }

    .modal-controls button {
        margin: 0 16px;
    }

    .portion-amount-input-group {
        margin-top: 32px;
    }

    .portion-amount-input:not(:last-child) {
        margin-bottom: 16px;
    }

    .portion-amount-input input {
        height: 32px;
        width: 32px;
        margin: 0 16px 0 0;
    }

    body,
    button,
    input {
        font-size: 48px;
    }

    button,
    input {
        padding: 32px;
    }

    button,
    input,
    .app-container,
    .modal-body {
        border-radius: 18px;
    }

    .app-container,
    .modal-body {
        padding: 64px;
    }
}